* {
    margin: 0px;
    padding: 0px;
}

body {
    background: whitesmoke;
}

#container {
    width: 80%;
    margin: auto;
    border: 0px solid black;
}

#cont {
    width: 100%;
    margin: auto;
    border: 0px;
}

#menu {
    width: 100%;
    margin: auto;
    border: 0px;
}

header {
    background-color: lightskyblue;
    height: 100 px;
    width: 100%;
    margin: 0px;
    text-align: center;
    line-height: 100px;
    text-transform: capitalize;
    -webkit-text-size-adjust: 100%;
}

nav {
    height: 50px;
    border-bottom: 1px solid black;
    background-color: lightgreen;
}

nav ul li {
    float: left;
    list-style: none;
    margin: 10px;
    line-height: 30px;
}

.Clearfix {
    clear: both;
}

#conten {
    padding: 20px;
    float: left;
    width: 80%;
    background-color: withe;
    min-height: 500px;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
}

#foot {
    line-height: 50px;
    height: 50px;
    width: 100%;
}